<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pts.myapp.dao.CoachDao">
	
	<!-- 코치 등록 -->
	<insert id="create">
		INSERT INTO coaches (uid, profile_photo, career, is_approved)
		VALUES(#{uid}, #{profile_photo}, #{career} ,#{is_approved})
	</insert>
	
	<!-- 코치 수정 -->
	<update id="update">
		UPDATE coaches
		SET uid=#{uid}, profile_photo=#{profile_photo}, career=#{career}, is_approved=#{is_approved}
		WHERE id=#{id}
	</update>
	
	

</mapper>