<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- Mybatis를 활용해 DB의 스네이크 표기법 <-> Java 카멜 표기법 자동 변경 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<mappers>
		<mapper resource="mappers/class-mapper.xml"/>
		<mapper resource="mappers/coach-mapper.xml"/>
		<mapper resource="mappers/favorite-mapper.xml"/>
		<mapper resource="mappers/fitness-mapper.xml"/>
		<mapper resource="mappers/log-mapper.xml"/>
		<mapper resource="mappers/measure-mapper.xml"/>
		<mapper resource="mappers/pushup-mapper.xml"/>
		<mapper resource="mappers/result-mapper.xml"/>
		<mapper resource="mappers/silhouette-mapper.xml"/>
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/video-mapper.xml"/>
	</mappers>
</configuration>