.bcvideo {
  margin-top: 80px;
  color: white;
}

.bcvideo__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  object-fit: contain;
  max-height: 340px;
}

.bcvideo__posters::-webkit-scrollbar {
  display: none;
}

/* 공통 부분을 먼저 써주고 */
.bcvideo__poster {
  object-fit: contain;
  max-width: 400px;
  max-height: 300px;
  margin-right: 30px;
  transition: transform 450ms;
}

.bcvideo__poster:hover {
  transform: scale(1.1);
  cursor: pointer;
}
