.inform {
  padding-top: 100px;
  /* object-fit: contain; */
  height: 500px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.part {
  width: 400px;
  height: 400px;
  background-color: #000;
  vertical-align: top;
}

.part-one {
  width: 300px;
}

.body-style {
  display: block;
  margin: auto;
  max-height: 380px;
}

.body-rank {
  display: block;
  text-align: center;
  height: 20px;
}

.body-name {
  display: block;
  font-size: 2rem;
  font-weight: 800;
  padding: 0.3rem 15px;
  margin-top: 50px;
}

.body-description {
  display: block;
  padding: 0 15px;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
}

.penta-graph {
  display: block;
  margin: 100px auto;
  width: 250px;
  height: 200px;
}

.contribution-graph {
  display: block;
  margin: auto;
  height: 400px;
}

.part-heatmap {
  object-fit: contain;
  width: 400px;
  height: 400px;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #b2d5ff;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #b2d5ff;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #b2d5ff;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #66abff;
}
.react-calendar-heatmap .color-scale-5 {
  fill: #66abff;
}
.react-calendar-heatmap .color-scale-6 {
  fill: #66abff;
}
.react-calendar-heatmap .color-scale-7 {
  fill: #0073ff;
}
.react-calendar-heatmap .color-scale-8 {
  fill: #0073ff;
}
.react-calendar-heatmap .color-scale-9 {
  fill: #0073ff;
}
.react-calendar-heatmap .color-scale-10 {
  fill: #1d4e89;
}
