.search_box {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.search_box__button {
  object-fit: contain;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  background: none;

  &.active {
    box-shadow: inset 0 0 5px #333;
  }

  &:focus {
    outline: 0;
  }

  img {
    height: 100%;
  }
}

.search_box__input_wrap {
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.25s, margin 0.25s;
  -moz-transition: width 0.25s, margin 0.25s;
  -o-transition: width 0.25s, margin 0.25s;
  transition: width 0.25s, margin 0.25s;
  margin-right: 0;

  &.active {
    width: 100%;
    margin-right: 10px;
  }
}

.search_box__input {
  display: none;
  height: 30px;
  width: 100%;
  border: thin solid #701848;
  border-radius: 2px;
  padding: 5px;
}
