.inputButtonServey{
    padding: 0.5rem;
    font-weight: 700;
    width: 70%;
    height: 30%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.nextButtonServey {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 32.5%;
    padding-right: 32.5%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    display: inline-block;
    margin-top: 1rem;
}

h2{
    font-weight: bold;
}

.radioDiv{
    margin-top: 1rem;
    color: #fff;
    font-weight: 400;
}